[submodule "assembly_foxtail_ipynb"]
	path = assembly_foxtail_ipynb
	url = https://github.com/cfriedline/assembly_foxtail.git
[submodule "foxtail_blast_ipynb"]
	path = foxtail_blast_ipynb
	url = git://github.com/cfriedline/foxtail_blast
[submodule "foxtail_circos_ipynb"]
	path = foxtail_circos_ipynb
	url = https://github.com/cfriedline/foxtail_circos.git
